<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="pruebas">
            <file>tests/Login/LoginTest.php</file>
            <file>tests/Usuarios/UsuariosTest.php</file>
            <file>tests/Consolidacion/ConsolidacionTest.php</file>
            <file>tests/Discipulado/DiscipuladoTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>