<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="pruebas_csr">
            <file>tests/Integracion/Ecam/ProfesoresTest/ProfesoresTest.php</file>
            <file>tests/Integracion/Ecam/ProfesoresTest/ProfesoresTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>