.boton1{
    width: 100%;
    padding: 10px;
    border-radius: 0%;
    background-color: rgb(44, 44, 44);
    color: gold;
    font-weight: bold;
}

.cartaMadre{
    margin: auto;
}
.cartaMateria{
    width: 100px;
}