.fondoEcam{
    background-image: url('../img/fondoEcam.jpg');
    background-size: cover;
}
.sombra{
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.31);
}

.cartaEstilo{
    background: rgb(255, 254, 239);
}.cartaEstilo:hover{
    background: rgb(179, 255, 208);
}



