.fondoBoletin{
    background-image: url('../img/boletinFondo.jpg');
    background-size: cover;
}

.sombra{
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.51);
}

.titulo{
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px black;
    font-size: 50px;
    font-style: italic;
}