.contenedorMaterias{
    background-color: rgb(204, 204, 204);
    font-size: 18px;
}
.buscarMateria{
    font-size: 18px;
}

.botonGuardar{
    width: 100% !important;
    border-radius: 0%;
}
.botonActualizar{
    width: 100% !important;
    border-radius: 0%;
}
.botonEliminar{
    width: 100% !important;
    border-radius: 0%;
}