.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-3 {
  border-radius: var(--falcon-border-radius-lg) !important;
}

.card-header {
  padding: var(--falcon-card-cap-padding-y) var(--falcon-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--falcon-card-cap-color);
  background-color: var(--falcon-card-cap-bg);
  border-bottom: var(--falcon-card-border-width) solid var(--falcon-card-border-color);
}

.avatar-profile {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.avatar-5xl {
  height: 10.5rem;
  width: 10.5rem;
}

.avatar {
  position: relative;
  display: inline-block;
}

.card-body:last-child {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--falcon-card-spacer-y) var(--falcon-card-spacer-x);
  color: var(--falcon-card-color);
}

*,
:after,
:before {
  box-sizing: border-box;
}


.card {
  --falcon-card-spacer-y: 1.25rem;
  --falcon-card-spacer-x: 1.25rem;
  --falcon-card-title-spacer-y: 0.5rem;
  --falcon-card-border-width: 0px;
  --falcon-card-border-color: rgba(0, 0, 0, 0.125);
  --falcon-card-border-radius: 0.375rem;
  --falcon-card-inner-border-radius: 0.375rem;
  --falcon-card-cap-padding-y: 1rem;
  --falcon-card-cap-padding-x: 1.25rem;
  --falcon-card-cap-bg: transparent;
  --falcon-card-cap-color: var(--falcon-headings-color);
  --falcon-card-bg: #fff;
  --falcon-card-img-overlay-padding: 1rem;
  --falcon-card-group-margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--falcon-card-height);
  word-wrap: break-word;
  background-color: var(--falcon-card-bg);
  background-clip: border-box;
  border: var(--falcon-card-border-width) solid var(--falcon-card-border-color);
  border-radius: var(--falcon-card-border-radius);
  box-shadow: var(--falcon-card-box-shadow);
}