:root{
  --offcanvas-width:255px;
  --topNavbarHeight:121px;
}
.table-background{
  background-color: rgba(201, 200, 200, 0.919);
}

body{
  color: #6c757d;
}
#g-recaptcha {
  margin: 0 auto;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  text-align: center;
}
.widget-icon {
  color: #727cf5;
  font-size: 20px;
  background-color: rgba(114,124,245,.25);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  display: inline-block;
}
.header-title {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-size: .9rem;
  margin-top: 0;
}
  
.row{
  --ct-gutter-x: 24px;
  --ct-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--ct-gutter-y)*-1);
  margin-right: calc(var(--ct-gutter-x)*-0.5);
  margin-left: calc(var(--ct-gutter-x)*-0.5);
}
.widget-flat {
  position: relative;
  overflow: hidden;
}
.sidebar{
  width:  var(--offcanvas-width);
}
.sidebar-link{
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon{
display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
transform: rotate(180deg);
transition: all ease 0.25s;
}

main{
  background-color:#F8F9F9;
  margin-top: var(--topNavbarHeight);
}

.padding-x{
padding-right: 20px;
padding-left: 20px;
}

.btn-completado{
  color: #fff;
  background-color: #239B56;
  border-color: #000000;
}

.btn-proceso{
  color: #fff;
  background-color: #F1C40F;
  border-color: #000000;
}

.btn-incompleto{
  color: #fff;
  background-color: #E74C3C;
  border-color: #000000;
}


.text-verde{
  color: rgb(40, 192, 106);

}
@media (min-width:992px) {
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
    display: none;
  }
  main{
    margin-left: var(--offcanvas-width);
    margin-top: var(--topNavbarHeight)  ;
  }
  .sidebar{
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }
 
}